[QDrant Connection]
url = "http://localhost:6333"


[OPENAI API]
api_key = "sk-proj-IMlP0w4jEqLE5DeBerFMT3BlbkFJn8j6jNI9mKeUq7bThBjh"

[Embedding Model]
embedding_model = "sentence-transformers/all-MiniLM-L6-v2"

[SERP API]
serp_api_key="c89126adf8f59e52c5c5a74f85df1579514d3102dc03125e877efebf17110d81"